@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@font-face {
    font-family: 'Seven-Segment';
    src: url('fonts/SevenSegmentRegular.eot');
    src: url('fonts/SevenSegmentRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SevenSementRegular.woff2') format('woff2'),
        url('fonts/SevenSegmentRegular.woff') format('woff'),
        url('fonts/SevenSegmentRegular.ttf') format('truetype'),
        url('fonts/SevenSegmentRegular.svg#SevenSegmentRegular') format('svg');
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    gap: 30px;
}

.screen {
    font-family: 'Seven-Segment';
    background-color: beige;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    gap: 7px;
}

.upper-screen {
    font-size: 35px;
}

.lower-screen {
    font-size: 70px;
}

.button-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.button.clear, .button.backspace{
    width: 170.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.button {
    width: 77.75px;
    height: 65px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}